CompileFlags:
    CompilationDatabase: out/debug/
    Add: [
        -std=c23,
        -Wall -Wextra -Wpedantic -Wconversion
        -Wsign-conversion -Wshadow -Wformat=2
        -Wold-style-cast -Woverloaded-virtual
        -Wdouble-promotion -Wnon-virtual-dtor
        -Wnull-dereference -Wstrict-overflow -Wundef
    ]
    Compiler: clang